* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
  overflow: hidden;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 1.2rem;
}
body::-webkit-scrollbar-thumb {
  background-color: #929292;
  border-radius: 1.8rem;
}
body::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  border-radius: 1.8rem;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: beige;
}

/* .swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
} */
.logo {
  position: absolute;
  left: 14rem;
  top: 2.6rem;
  width: 12rem;
  height: 4.6rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='46' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M28.028 15.055c-3.197 1.04-6.797 1.14-9.869 2.506 1.625 8.617-1.753 19.425.435 27.916 2.468-2.525 7.755-.92 10.26-3.41-.38-1.756-.699-19.829-.826-27.012Zm-9.646-9.429c-.58 1.147-1.26 3.276-1.495 4.541 3.565 1.039 8.182 3.146 11.141 4.87-.388-1.524-.547-3.411-.165-4.936-3.265-.853-6.634-2.665-9.48-4.473v-.002Z' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M27.863 10.12c-.382 1.524-.223 3.412.165 4.935 38.15.353 53.024-.295 91.173.06-1.059-1.543-2.529-3.533-3.972-4.723-37.245-.354-50.121.083-87.368-.273h.002Z' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='m119.488 41.893-90.635.175c-.302-5.16-.825-18.905-.825-27.011h91.173c.443 8.382.344 17.397.285 26.838l.002-.002Z' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M94.485 34.962c-.377.377-.88.421-1.372.465-2.044.188-4.088.365-6.132.547-.125.012-.25.04-.374.063-.827.158-1.407-.31-1.409-1.15a737.054 737.054 0 0 1 0-6.04c.01-1.745.041-3.49.063-5.237v-.302c-.34-.095-.64-.224-.823-.537-.298-.516-.05-1.127.536-1.256.2-.044.412-.057.619-.05 2.07.072 4.14.15 6.207.232.398.017.794.065 1.13.32.288.221.423.509.37.868a.845.845 0 0 1-.61.722 2.38 2.38 0 0 1-.746.105c-1.5-.039-3.002-.096-4.5-.148-.063-.002-.128 0-.207 0-.007.061-.022.12-.022.179.018 1.558.04 3.116.057 4.674 0 .138.039.178.19.173 1.491-.057 2.983-.11 4.475-.147.313-.008.637.02.939.093.563.137.841.476.841.941 0 .474-.355.888-.89 1.013a2.973 2.973 0 0 1-.697.09 311.031 311.031 0 0 1-3.935-.034c-.288-.004-.573-.052-.864-.08v3.422c.867-.105 1.69-.217 2.514-.298a73.132 73.132 0 0 1 3.298-.273c.376-.02.76.105 1.14.164.053.007.108.026.16.02.864-.108 1.685.131 2.52.282.52.096 1.056.12 1.587.15.773.041 1.876-1.095 1.895-1.971a.899.899 0 0 0-.501-.838c-.43-.229-.877-.42-1.315-.632-.81-.392-1.65-.736-2.42-1.195-.899-.536-1.499-1.335-1.69-2.39-.29-1.58.366-4.107 2.066-5.144 1.328-.81 2.747-.799 4.173-.272.797.294 1.486.751 1.825 1.576.07.171.11.36.132.543.039.328-.118.57-.394.737a.706.706 0 0 1-.792-.017 1.544 1.544 0 0 1-.383-.333c-.486-.624-1.175-.832-1.917-.917a3.5 3.5 0 0 0-.784.018c-.788.087-1.29.555-1.617 1.234a4.033 4.033 0 0 0-.381 2.116c.027.343.163.636.412.882.418.417.936.667 1.464.905.814.366 1.647.696 2.436 1.104 1.07.555 1.678 1.452 1.639 2.665a3.77 3.77 0 0 1-.355 1.442 4.905 4.905 0 0 1-2.074 2.243c-.598.333-1.278.372-1.953.335-.9-.05-1.781-.188-2.606-.565-.31-.142-.602-.32-.926-.496l.001-.001Zm-30.797-7.514c-.188.593-.369 1.133-.53 1.676-.48 1.624-1.038 3.217-1.8 4.736-.177.354-.357.707-.716.921-.614.365-1.345.168-1.737-.462-.38-.61-.5-1.299-.63-1.983a48.47 48.47 0 0 1-.777-6.334c-.035-.642-.108-1.283-.147-1.926a2.38 2.38 0 0 1 .055-.613c.083-.418.392-.663.797-.661.426.003.737.252.813.683.053.308.068.623.105.934.117 1.003.233 2.007.36 3.01.192 1.507.393 3.013.592 4.52 0 .013.018.024.05.06.22-.585.46-1.149.644-1.729.554-1.738 1.079-3.484 1.631-5.222a3.64 3.64 0 0 1 .452-.965c.346-.497.926-.66 1.366-.376.217.14.416.389.501.63.254.725.425 1.477.668 2.206.564 1.696 1.15 3.387 1.726 5.077.005.015.024.026.064.066.041-.195.072-.37.117-.543.631-2.486 1.174-4.996 2.01-7.427.105-.304.284-.6.494-.843.217-.25.541-.322.87-.184.344.145.563.405.572.777.005.263-.031.536-.098.794a1424.34 1424.34 0 0 1-2.127 8.259c-.114.44-.256.876-.434 1.294-.3.706-.98 1.01-1.687.803-.339-.1-.54-.344-.715-.622-.727-1.153-1.243-2.398-1.657-3.689-.234-.733-.492-1.458-.722-2.191-.063-.197-.07-.413-.112-.681l.002.005Zm16.896 2.495c1.046.792 2.057 1.602 2.893 2.599.188.224.335.52.394.806.121.586-.363 1.019-.963.932-.42-.06-.719-.31-1.015-.58-.98-.89-1.974-1.764-2.945-2.663-.412-.383-.843-.554-1.418-.447-.519.097-1.053.112-1.61.166v.344l.02 3.895c0 .107 0 .215-.012.322-.044.51-.335.827-.816.89-.407.053-.878-.234-.981-.682-.101-.44-.14-.9-.162-1.353-.026-.518.005-1.04-.008-1.558-.051-2.103-.117-4.205-.163-6.308-.03-1.333-.05-2.666-.043-3.998 0-.25.094-.541.243-.742.216-.29.571-.241.903-.19.228.035.466.074.692.047 1.493-.188 2.983-.208 4.447.16 1.324.335 2.455 1 3.223 2.164.529.8.565 1.688.389 2.587-.343 1.744-1.36 2.945-3.04 3.584-.015.005-.025.024-.028.029v-.004Zm-4.706-1.165c.562-.092 1.116-.166 1.663-.278.796-.164 1.597-.312 2.37-.55.871-.266 1.466-.866 1.735-1.745.297-.969.103-1.525-.713-2.127-.698-.516-1.491-.762-2.351-.786-.914-.026-1.829-.022-2.742-.028-.078 0-.155.015-.262.026.102 1.832.2 3.644.3 5.49v-.002Zm-37.421 2.088c0 1.223.003 2.44-.002 3.657 0 .311-.011.628-.063.936a.994.994 0 0 1-1.007.838c-.52-.013-.875-.341-.941-.892a7.987 7.987 0 0 1-.059-.937c0-3.528 0-7.057.01-10.585 0-.355.038-.716.102-1.066.089-.481.645-.899 1.032-.713.65.313 1.263.125 1.898.033.985-.142 1.976-.318 2.969-.132 2.066.386 3.248 1.543 3.482 3.646.07.628.147 1.274.08 1.897-.152 1.388-1.006 2.263-2.286 2.784-.93.377-1.904.494-2.891.528-.766.026-1.534.006-2.328.006h.004Zm0-2.037c1.057-.06 2.084-.103 3.11-.182a4.028 4.028 0 0 0 1.654-.47c.38-.208.62-.524.61-.946a12.696 12.696 0 0 0-.165-1.833c-.123-.714-.631-1.11-1.327-1.24a4.437 4.437 0 0 0-1.157-.074c-.845.066-1.685.191-2.528.276-.184.018-.218.086-.216.25.011.965.013 1.932.017 2.897v1.32l.002.002Zm15.509 2.249c-.466.366-.994.368-1.519.368-1.105 0-2.208-.005-3.313-.015-.212-.002-.335.043-.414.271-.299.862-.623 1.716-.945 2.57-.16.428-.363.83-.862.96-.587.153-1.1-.188-1.123-.784a2.496 2.496 0 0 1 .132-.947c1.139-3.117 2.29-6.23 3.451-9.338.153-.409.367-.798.577-1.182a1.96 1.96 0 0 1 .385-.481c.316-.291.654-.29 1.046-.151.795.278 1.219.834 1.543 1.59 1.01 2.35 2.107 4.668 3.132 7.014.332.76.566 1.563.814 2.357.08.25.089.528.089.793a.855.855 0 0 1-.608.835.854.854 0 0 1-.965-.317 3.19 3.19 0 0 1-.38-.735c-.316-.836-.612-1.681-.918-2.52-.033-.091-.076-.178-.122-.286v-.002Zm-4.32-1.857h3.48c-.646-1.5-1.285-2.986-1.918-4.462l-1.56 4.462h-.002Zm59.316-5.286c0 .756-.008 1.462 0 2.169.022 1.852.075 3.703.066 5.556-.004.821-.125 1.64-.199 2.46a1.36 1.36 0 0 1-.086.363c-.174.45-.636.75-1.028.678-.438-.08-.779-.476-.785-.97-.005-.447.045-.894.052-1.342.029-1.734.053-3.47.072-5.207.011-1.127 0-2.256.02-3.383.004-.238-.061-.313-.296-.315a36.205 36.205 0 0 1-1.844-.066 1.643 1.643 0 0 1-.595-.163c-.327-.158-.5-.442-.473-.806.028-.363.232-.637.586-.73a4.903 4.903 0 0 1 1.095-.163c2.19-.05 4.378-.081 6.567-.116.116 0 .234.018.35.04.494.089.84.437.864.866a.974.974 0 0 1-.764 1.005c-.313.076-.643.1-.967.107-.761.017-1.519.011-2.28.015h-.359l.004.002ZM18.4 19.141l-.17-.121-.023-.017c-.121-.098-.258-.204-.322-.258a36.688 36.688 0 0 1-3.558-3.383c-2.085-2.26-6-2.484-8.449-.67a20.779 20.779 0 0 1-.633-1.304 13.889 13.889 0 0 1-.847-2.966 10.215 10.215 0 0 1 .005-2.076 9.656 9.656 0 0 1 .503-1.854c.19-.406.41-.792.665-1.16.263-.32.554-.614.87-.879.189-.129.38-.25.579-.36 1-.54 1.4-2.005.779-2.968C7.143.11 5.897-.235 4.829.345 2.269 1.733.608 4.51.186 7.346c-.118.796-.208 1.587-.182 2.392.025.801.136 1.604.3 2.387.346 1.652 1.022 3.245 1.81 4.733.135.254.274.504.418.753.44.76.722 1.613.739 2.493.014.772.167 1.542.46 2.28a2.277 2.277 0 0 0-.007.195 68.46 68.46 0 0 1-.558 10.22c-.25 1.798-.571 4.282-.962 6.052-.125.567-.079 1.162.22 1.672.263.45.778.879 1.296.996.556.128 1.179.1 1.672-.219.462-.298.875-.744.998-1.296.768-3.471 1.278-7.707 1.523-11.257a.684.684 0 0 1 1.122-.472l.012.011c.144.12.233.291.245.477.247 3.6.496 8.596.742 12.197.041.58.216 1.114.636 1.534.376.375.994.659 1.534.635.561-.026 1.143-.21 1.534-.635.374-.407.676-.963.635-1.534-.162-2.367-.326-6.129-.488-8.495a.377.377 0 0 1 .571-.348A42.92 42.92 0 0 0 17.986 34c.323-5.048.963-10.217.407-14.86h.008Z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' transform='translate(0 .063)' d='M0 0h120v45.874H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  z-index: 100;
}

.header-wrap {
  position: absolute;
  left: 10rem;
  top: 50%;
  z-index: 100;
  background-color: #eea;
}
.header-wrap .desc {
  font-size: 2.2rem;
  letter-spacing: -0.5rem;
  color: #fff;
  line-height: 1.6;
}

.section {
  position: relative;
  height: 100vh;
  border: 2px solid #000;
}

.pageCont {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: transparent;
}

.pageCont.none {
  display: none;
}

.swiper-pageNum {
  padding: 15px;
  position: absolute;
  left: 0;
  top: 35%;
  background-color: #eea;
  z-index: 10;
  font-size: 16px;
}
.swiper.mainSwiper {
  height: 100%;
}

.swiper-horizontal {
  background-color: #eea;
}
.swiper-horizontal .swiper-pagination-progressbar {
  width: 50%;
  top: 50%;
}

.tab-wrap {
  display: grid;
  height: 60rem;
  grid-template-columns: 20rem 1fr;
  margin-top: 15rem;
  gap: 2rem;
  background-color: #eea;
}
.tab-wrap .btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
  background-color: darkorange;
}
.tab-wrap .btns > li {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tab-wrap .btns > li > button {
  display: block;
  border: 0;
  cursor: pointer;
}
.tab-wrap .btns > li > button + div {
  display: grid;
  height: 0;
  overflow: hidden;
  transition: all 0.35s;
  background-color: darkseagreen;
}
.tab-wrap .btns > li > button.active + div {
  height: auto;
  overflow: visible;
  padding: 2rem 0;
}
.tab-wrap .tabs {
  background-color: burlywood;
}
.tab-wrap .tabs-item {
  display: none;
  height: 100%;
}
.tab-wrap .tabs-item > .swiper {
  width: 100%;
  height: 50%;
  background-color: #aae;
}
.tab-wrap .tabs-item > .swiper .swiper-slide {
  width: 38%;
  background-color: gold;
}
.tab-wrap .tabs-item.on {
  display: flex;
  align-items: center;
}

.links-wrap {
  display: flex;
  gap: 1.5rem;
  width: 100%;
}
.links-wrap > button {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  color: #000;
  border: 1px solid #000;
}

.swiper.rollingSwiper1, .swiper.rollingSwiper2 {
  margin-top: 12rem;
}
.swiper.rollingSwiper1 .swiper-slide, .swiper.rollingSwiper2 .swiper-slide {
  width: 22%;
  height: 18rem;
}

.grid {
  display: grid;
}
.grid.col2 {
  gap: 5rem;
  padding: 0 11rem;
  grid-template-columns: 30rem 1fr;
}
.grid.col2 .item.lists {
  display: flex;
  grid-column: 1/-1;
}
.grid.col2 .item:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grid.col2 .item .addrs dl dt {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: grey;
}
.grid.col2 .item .addrs dl dd {
  font-size: 1.4rem;
  color: #000;
}
.grid.col2 .item .addrs dl + dl {
  margin-top: 2rem;
}
.grid.col2 .item .maps {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-radius: 0.6rem;
}
.grid.col2 .item .maps > a {
  flex: 1;
  padding: 0.8rem 0;
  text-align: center;
  font-size: 1.6rem;
  color: #000;
}
.grid.col2 .item .maps > a + a {
  border-left: 1px solid #000;
}
.grid.col2 .item .img-map {
  width: 100%;
}
.grid.col2 .item-depth {
  flex: 1;
  border: 1px solid #000;
  background-color: skyblue;
}
.grid.col2 .item-depth > strong {
  display: block;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #000;
  font-size: 1.8rem;
  color: #000;
}
.grid.col2 .item-depth ul > li {
  display: flex;
}
.grid.col2 .item-depth ul > li > span:first-child {
  width: 6.5rem;
}
.grid.col2 .item-depth ul > li > span:last-child {
  flex-grow: 1;
}
.grid.col3 {
  grid-template-columns: 1fr 15rem 7rem;
}
.grid.col3 .item {
  border: 1px solid #000;
}
.grid.col3 .item:first-child {
  display: flex;
  flex-direction: column;
}
.grid.col3 .item:first-child > strong {
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
}
.grid.col3 .item:first-child ul {
  display: flex;
}
.grid.col3 .item:first-child ul > li {
  position: relative;
  padding: 0 1rem;
}
.grid.col3 .item:first-child ul > li:first-child {
  padding-left: 0;
}
.grid.col3 .item:first-child ul > li + li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.3rem;
  display: inline-block;
  width: 1px;
  height: 1.2rem;
  background-color: #000;
}

.footer {
  padding: 6rem 11rem;
  background-color: #516148;
}