* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
  overflow: hidden;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 1.2rem;
}
body::-webkit-scrollbar-thumb {
  background-color: #929292;
  border-radius: 1.8rem;
}
body::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  border-radius: 1.8rem;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: beige;
}

/* .swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
} */
.section {
  height: 100vh;
  border: 2px solid #000;
}

.pageCont {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: transparent;
}

.pageCont.none {
  display: none;
}

.swiper-pageNum {
  padding: 15px;
  position: absolute;
  left: 0;
  top: 35%;
  background-color: #eea;
  z-index: 10;
  font-size: 16px;
}
.swiper.mainSwiper {
  height: 100%;
}

.swiper-horizontal {
  background-color: #eea;
}
.swiper-horizontal .swiper-pagination-progressbar {
  width: 50%;
  top: 50%;
}

.tab-wrap {
  display: grid;
  height: 60rem;
  grid-template-columns: 20rem 1fr;
  margin-top: 15rem;
  gap: 2rem;
  background-color: #eea;
}
.tab-wrap .btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
  background-color: darkorange;
}
.tab-wrap .btns > li {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tab-wrap .btns > li > button {
  display: block;
  border: 0;
  cursor: pointer;
}
.tab-wrap .btns > li > button + div {
  display: grid;
  height: 0;
  overflow: hidden;
  transition: all 0.35s;
  background-color: darkseagreen;
}
.tab-wrap .btns > li > button.active + div {
  height: auto;
  overflow: visible;
  padding: 2rem 0;
}
.tab-wrap .tabs {
  background-color: burlywood;
}
.tab-wrap .tabs-item {
  display: none;
  height: 100%;
}
.tab-wrap .tabs-item > .swiper {
  width: 100%;
  height: 50%;
  background-color: #aae;
}
.tab-wrap .tabs-item > .swiper .swiper-slide {
  width: 38%;
  background-color: gold;
}
.tab-wrap .tabs-item.on {
  display: flex;
  align-items: center;
}

.links-wrap {
  display: flex;
  gap: 1.5rem;
  width: 100%;
}
.links-wrap > button {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  color: #000;
  border: 1px solid #000;
}

.swiper.rollingSwiper1, .swiper.rollingSwiper2 {
  margin-top: 12rem;
}
.swiper.rollingSwiper1 .swiper-slide, .swiper.rollingSwiper2 .swiper-slide {
  width: 22%;
  height: 18rem;
}

.grid {
  display: grid;
}
.grid.col2 {
  gap: 5rem;
  padding: 0 11rem;
  grid-template-columns: 30rem 1fr;
}
.grid.col2 .item.lists {
  display: flex;
  grid-column: 1/-1;
}
.grid.col2 .item:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grid.col2 .item .addrs dl dt {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: grey;
}
.grid.col2 .item .addrs dl dd {
  font-size: 1.4rem;
  color: #000;
}
.grid.col2 .item .addrs dl + dl {
  margin-top: 2rem;
}
.grid.col2 .item .maps {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-radius: 0.6rem;
}
.grid.col2 .item .maps > a {
  flex: 1;
  padding: 0.8rem 0;
  text-align: center;
  font-size: 1.6rem;
  color: #000;
}
.grid.col2 .item .maps > a + a {
  border-left: 1px solid #000;
}
.grid.col2 .item .img-map {
  width: 100%;
}
.grid.col2 .item-depth {
  flex: 1;
  border: 1px solid #000;
  background-color: skyblue;
}
.grid.col2 .item-depth > strong {
  display: block;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #000;
  font-size: 1.8rem;
  color: #000;
}
.grid.col2 .item-depth ul > li {
  display: flex;
}
.grid.col2 .item-depth ul > li > span:first-child {
  width: 6.5rem;
}
.grid.col2 .item-depth ul > li > span:last-child {
  flex-grow: 1;
}
.grid.col3 {
  grid-template-columns: 1fr 15rem 7rem;
}
.grid.col3 .item {
  border: 1px solid #000;
}
.grid.col3 .item:first-child {
  display: flex;
  flex-direction: column;
}
.grid.col3 .item:first-child > strong {
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
}
.grid.col3 .item:first-child ul {
  display: flex;
}
.grid.col3 .item:first-child ul > li {
  position: relative;
  padding: 0 1rem;
}
.grid.col3 .item:first-child ul > li:first-child {
  padding-left: 0;
}
.grid.col3 .item:first-child ul > li + li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.3rem;
  display: inline-block;
  width: 1px;
  height: 1.2rem;
  background-color: #000;
}

.footer {
  padding: 6rem 11rem;
  background-color: #516148;
}