/* Fontawesome 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

* {
    box-sizing: border-box;
    color: #000;
}
html {
    font-size: 10px;
    touch-action: none;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    word-break: keep-all;
}
/* Reset */
h1, h2, h3, h4, h5, p, dt, dd {margin: 0; padding: 0; font-weight: normal;}
ul , li {list-style: none; margin: 0; padding: 0;}
a {text-decoration: none;}
button {outline: none; margin: 0;}
input[type="text"] {border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0;}

/* Variables */
$talk: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 208 191.94'%3E%3Cpath class='cls-1' d='M76.01 89.49 87.99 89.49 87.99 89.49 82 72.47 76.01 89.49z'/%3E%3Cpath class='cls-1' d='M104,0C46.56,0,0,36.71,0,82c0,29.28,19.47,55,48.75,69.48-1.59,5.49-10.24,35.34-10.58,37.69,0,0-.21,1.76.93,2.43a3.14,3.14,0,0,0,2.48.15c3.28-.46,38-24.81,44-29A131.56,131.56,0,0,0,104,164c57.44,0,104-36.71,104-82S161.44,0,104,0ZM52.53,69.27c-.13,11.6.1,23.8-.09,35.22-.06,3.65-2.16,4.74-5,5.78a1.88,1.88,0,0,1-1,.07c-3.25-.64-5.84-1.8-5.92-5.84-.23-11.41.07-23.63-.09-35.23-2.75-.11-6.67.11-9.22,0-3.54-.23-6-2.48-5.85-5.83s1.94-5.76,5.91-5.82c9.38-.14,21-.14,30.38,0,4,.06,5.78,2.48,5.9,5.82s-2.3,5.6-5.83,5.83C59.2,69.38,55.29,69.16,52.53,69.27Zm50.4,40.45a9.24,9.24,0,0,1-3.82.83c-2.5,0-4.41-1-5-2.65l-3-7.78H72.85l-3,7.78c-.58,1.63-2.49,2.65-5,2.65a9.16,9.16,0,0,1-3.81-.83c-1.66-.76-3.25-2.86-1.43-8.52L74,63.42a9,9,0,0,1,8-5.92,9.07,9.07,0,0,1,8,5.93l14.34,37.76C106.17,106.86,104.58,109,102.93,109.72Zm30.32,0H114a5.64,5.64,0,0,1-5.75-5.5V63.5a6.13,6.13,0,0,1,12.25,0V98.75h12.75a5.51,5.51,0,1,1,0,11Zm47-4.52A6,6,0,0,1,169.49,108L155.42,89.37l-2.08,2.08v13.09a6,6,0,0,1-12,0v-41a6,6,0,0,1,12,0V76.4l16.74-16.74a4.64,4.64,0,0,1,3.33-1.34,6.08,6.08,0,0,1,5.9,5.58A4.7,4.7,0,0,1,178,67.55L164.3,81.22l14.77,19.57A6,6,0,0,1,180.22,105.23Z'/%3E%3C/svg%3E";


/* Mixin */
@mixin flexDefault {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexSb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin mt($marginTop) {
    margin-top: $marginTop;
}
@mixin menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}


#wrap {
    background-color: #999;
    
    // Header
    header {
        position: sticky;
        top: 0;
        z-index: 100;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        background-color: #fff;
        .header_inner {
            position: relative;
            width: 108rem;
            height: 9rem;
            margin: 0 auto;
            
            @include flexSb;
            .btnMenu {
                display: none;
                position: relative;
                right: 0;
                padding: 0;
                border: 0;
                width: 35px;
                height: 30px;
                cursor: pointer;
                background: none;
                transition: right .38s;
                z-index: 30;
                span {
                    display: inline-block;
                    position: absolute;
                    left:0;
                    width: 100%;
                    height: 3px;
                    border-radius: 3px;
                    transition: all .4s;
                    background-color: #000;
                }
                span:nth-child(1) {
                    top: 0;
                }
                span:nth-child(2) {
                    top: 13px;
                }
                span:nth-child(3) {
                    bottom: 0;
                }
                &.active {
                    right: 42%;

                    span:nth-of-type(1) {
                        -webkit-transform : translateY(13px) rotate(-45deg);
                        transform : translateY(13px) rotate(-45deg);
                    }
                    span:nth-of-type(2) {
                        left : 50%;
                        opacity : 0;
                        -webkit-animation : active-menu .8s forwards;
                        animation : active-menu .8s forwards;
                    }
                    @-webkit-keyframes active-menu {
                        100% {
                            height: 0;
                        }
                    }
                    @keyframes active-menu {
                        100% {
                            height: 0;
                        }
                    }
                    span:nth-of-type(3) {
                        -webkit-transform : translateY(-13px) rotate(45deg);
                        transform : translateY(-13px) rotate(45deg);
                    }
                }
            }
            .navWrap {
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                z-index: 30;
                .nav {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    gap: 1rem;
                    margin-right: 3rem;
                    > li {
                        //height: 100%;
                        align-self: center;
                        a {
                            display: block;
                            padding: 0 1rem;
                            font-size: 1.5rem;
                        }
                        &:last-child {
                            height: 4.6rem;
                            border-radius: 1.8rem;
                            background-color: #feef6a;
    
                            a {
                                padding: 0 2rem;
                                line-height: 4.6rem;
                            }
                        }
                    }
                }

                // &.active {
                //     animation: .5s slideMenu alternate;
                //     -webkit-animation : slideMenu .5s alternate;
                // }
            }
        }
        .gauge {
            position: absolute;
            left: 0;
            bottom: -4px;
            width: calc(100% - 25px);
            width: -webkit-calc(100% - 25px);
            width: -moz-calc(100% - 25px);
            .moving {
                display: block;
                position: relative;
                left: 0;
                bottom: 0;
                width: 25px;
                height: 25px;
                border-radius: 100%;
                z-index: 10;
                //background-color: #000;
                //background-color: #fed805;
                background:url($talk) no-repeat center center / cover;
            }
        }
    }

    main {
        background-color: #feef6a;
    }

    // Main_inner
    .main_inner {
        position: relative;
        width: 108rem;
        margin: 0 auto;
        padding: 11rem 0;
        //border: 2px solid #000;
        //background: yellow;
        h2 {
            font-size: 5rem;
            line-height: 1.4;
        }
        p {
            margin: 1.5rem 0 1rem;
            font-size: 1.6rem;
            line-height: 1.95;
            color: #4d4821;
        }
        .link_main {
            display: inline-block;
            font-size: 1.6rem;
            font-weight: bold;
            text-decoration: underline;
            color: #000;
        }
        .btn_wrap {
            //background-color: green;
            @include mt(3rem);
            a + a {
                margin-left: 1rem;
            }

            > a {
                display: inline-block;
                min-width: 18rem;
                height: 5.6rem;
                line-height: 5.6rem;
                text-align: center;
                font-size: 1.6rem;
                font-weight: bold;
                border-radius: 1.2rem;
                //vertical-align: top;
                background-color: #fff;

                > span {
                    display: inline-block;
                    margin-top: -.5rem;
                    margin-right: .6rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    vertical-align: middle;
                    background-size: 100% 100%;
                    background-repeat: none;
                }
                .ico_google {
                    background-image: url('../images/bg_ico_google.png');
                }
                .ico_app {
                    background-image: url('../images/bg_ico_apple.png');
                }
            }
        }

        &:after,
        &:before {
            position: absolute;
            content: '';
        }
        &:after {
            width: 60rem;
            height: 40rem;
            right: 0;
            bottom: 0;
            z-index: 10;
            background: url('../images/img_ryan.png') no-repeat 0 0 / 100%;
        }
    }

    // Section
    .section_outer {
        background-color: #fafafa;

        section {
            position: relative;
            //width: 108rem;
            //margin: 0 auto;
            overflow: hidden;
            padding: 5rem 0;
            gap: 3rem;
            background-color: #fff;
            @include flexDefault;

            .skyBg {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: #333b58;
                transition: all .43s;
                & ~ div:not(.moon) {
                    position: relative;
                    z-index: 10;
                    strong, p {
                        color: #fff;
                    }
                }
            }
            .moon {
                position: absolute;
                right: 10%;
                top: -120px;
                width: 11rem;
                height: 11rem;
                z-index: 11;
                background-color: #ffdc00;
                transition: top .43s ease-out .35s;
                border-radius: 100%;

            }
            &.active {

                .skyBg {
                    background-color: #549cde;
                }
                .moon {
                    top: 50px;
                }
            }

            & + section {
                margin-top: 3rem;
            }

            &.column {
               flex-direction: column;
            }
            .item_img {
                width: 43rem;
                /* ## 임시죽석
                opacity: 0;
                transition: all ease .5s;
                 */
                 &.last {
                     width: 78rem;
                 }
                img {
                    width: 100%;
                }
            }
            .item_desc {

                &_tit {
                    position: relative;
                    display: inline-block;
                    padding-bottom: 3rem;
                    font-size: 4rem;
                    line-height: 1.3;
                    &.underline {
                        &:after {
                            display: block;
                            content: '';
                            position: absolute;
                            left: 50%;
                            bottom: 0;
                            width: 50%;
                            height: 2px;
                            transform: translateX(-50%);
                            background-color: #000;
                        }
                    }
                }
                &_text {
                    font-size: 1.5rem;
                    line-height: 1.7;
                }
                
                &.txtCentet {
                    strong,
                    p {
                        text-align: center;
                    }
                }
            }

            .item_btn,
                .item_btn_list {
                
                    a {
                        position: relative;
                        display: inline-block;
                        padding: 1.8rem 3rem;
                        font-size: 1.6rem;
                        color: #333;
                        border-radius: 1rem;
                        background-color: #f6f6f6;

                        & + a {
                            margin-left: .6rem;
                        }

                        &.arr_right {
                            @include mt(3rem);
                            &:after {
                                position: relative;
                                top: .2rem;
                                display: inline-block;
                                content: '\e93f';
                                font-family: 'xeicon';
                                color: #000;
                            }
                        }

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .item_btn_list {
                    text-align: center;
                }

            &.active {
                // img :: 동작제어
                .item_img {
                    //transition: all ease .5s;
                    opacity: 1;
                    img {
                        border-color: red;
                    }
                    
                }
            }

            .flex_list {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                width: 80rem;
                > li {
                    //width: 26rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    strong {
                        margin: 0 0 1.7rem;
                        font-size: 1.8rem;
                        font-weight: bold;
                    }
                    p {
                        font-size: 1.4rem;
                        line-height: 2.4rem;
                        text-align: center;
                        color: #666;
                    }
                }
                li:last-child {
                    grid-column: span 2;
                    justify-self: end;
                    //border: 1px solid #000;
                }

            }
        }
    }

    // Footer
    footer {
        background-color: #eee;

        .footer_innner {
            width: 108rem;
            margin:  0 auto;
            padding: 3rem 0 2rem;
            ul {
                display: flex;
                
                li {
                    position: relative;
                    padding: 0 1rem;
                    &:first-child {
                        padding-left: 0;
                    }
                    
                    & + li:after {
                        position: absolute;
                        left: 0;
                        top: 50%;
                        display: block;
                        transform: translateY(-50%);
                        content: '';
                        width: 1px;
                        height: 6px;
                        background-color: #b9b9b9;
                    }
                    a {
                        font-size: 1.2rem;
                        color: #666;
                    }
                }
            }

            .footer_copy {
                margin: 1.2rem 0 2rem;
                .txt_tel {
                    padding: 0 1.2rem;
                    font-size: 1.2rem;
                    color: #888;
                }
                .txt_copyright {
                    color: #888;
                }
            }

            .footer_addr {
                @include flexSb;
                .web_link {
                    
                    display: block;
                    
                    img {
                        width: 4.8rem;
                        height: 3.2rem;
                        object-fit: contain;
                        vertical-align: middle;
                    }
                    span {
                        display: inline-block;
                        font-size: 1.2rem;
                    }
                }

                .sns_list {
                    li a {
                        position: relative;
                        display: inline-block;
                        overflow: hidden;
                        font-size: 1.8rem;
                        .hide {
                            position: absolute;
                            left: -999px;
                            top: 0;
                            width: 1px;
                            height: 1px;
                            text-indent: -9999px;
                        }
                    }
                }
            }
        }
    }

}

/* Swiper */

.swiper {
    width: 66rem;
    height: 38rem;
    padding-top: 5rem;

    // .swiper-wrapper {
        
    // }
    .swiper-button-next {
        right: 0;
        outline: none;
    }
    .swiper-button-prev {
        left: 0;
        outline: none;
    }
    .swiper-button-next, .swiper-button-prev {
        height: 100%;
        top: 0;
        color: #c1c1c1;
        background-color: #fff;
    }

    .swiper-slide {
        
        .slide_img {
            width: 80%;
            // transform: scale(.75);
            // transform-origin: center;
            transition: all .35s;
        }
    }
    .swiper-slide-active {
        text-align: right;
        right: -5rem;
    }

    .swiper-slide-next {
        //border: 3px solid #000;
        .slide_img {
            position: absolute;
            left: 0;
            top: -4rem;
            width: 100%;
            //transform: scale(.85);
            z-index: 10;
        }

        & + .swiper-slide {
            left: -5rem;
        }
    }
  }



/* Media :: Tablet */
@media (min-width: 768px) and (max-width: 1366px) {

    html {
        font-size: 8px;
    }
    #wrap {

        header {
            .header_inner {
                width: 100%;
                padding: 0 3rem;

                .navWrap {
                    margin-right: 0;
                    right: 0;
                }
            }
        }
        .main_inner {
            width: 100%;
            padding: 9em 3rem;
        }
        .section_outer {
            section {
                .moon {
                    width: 8rem;
                    height: 8rem;
                    right: 2.2%;
                }
            }
        }
    }
}


/* Media :: Mobile */
@media (max-width: 768px) {
    html {
        font-size: 9px;
    }

    /* Swiper :: ### Mobile Ver ### */
    .swiper {
        width: 60rem;
        height: 38rem;
        padding-top: 0;
        // .swiper-wrapper {
            
        // }
        &-slide {
            display: flex;
            align-items: center;
        }

        .swiper-button-next {
            right: 0;
            transform: rotate(0);
            .slide_img {
                width: 80%;
            }
        }
        .swiper-button-prev {
            left: 0;
            transform: rotate(0);
        }
        .swiper-button-next, .swiper-button-prev {
            height: 100%;
            top: 0;
            color: #c1c1c1;
            background-color: #fff;
        }
    
        .swiper-slide {
            
            .slide_img {
                width: 80%;
                // transform: scale(.75);
                // transform-origin: center;
                transition: all .35s;
            }
        }
        .swiper-slide-active {
            text-align: right;
            right: -6rem;
        }
    
        .swiper-slide-next {
            //border: 3px solid #000;
            .slide_img {
                position: absolute;
                left: 0;
                top: 5rem;
                width: 100%;
                transform: scale(1.2);
                z-index: 10;
            }
    
            & + .swiper-slide {
                left: -3rem;
            }
        }
      }

    #wrap {
        .main_inner {
            width: 108rem;
            padding: 8rem 0;
            h2 {
                font-size: 4rem;
                line-height: 1.4;
            }
            p {
                margin: 1.5rem 0 1rem;
                font-size: 1.4rem;
                line-height: 1.95;
            }
            .link_main {
                font-size: 1.4rem;
            }
            .btn_wrap {
                @include mt(3rem);
                a + a {
                    margin-left: 1rem;
                }
                > a {
                    min-width: 14rem;
                    height: 4.6rem;
                    line-height: 4.6rem;
                    font-size: 1.4rem;
                    > span {
                        margin-top: -.5rem;
                        margin-right: .6rem;
                        width: 2.2rem;
                        height: 2.2rem;
                        background-size: 100% 100%;
                    }   
                }
            }
        }

        header {
            .header_inner {
                width: 100%;
                padding: 0 3rem;
                .btnMenu {
                    display: inline-block;
                    //left: -70px;
                    //transform: translateX(-50%);
                    //margin-top: 2.6rem;
                    
                }
                .navWrap {
                    position: fixed;
                    width: 40%;
                    height: 100vh;
                    right: -40%;
                    //transition: right .35s;
                    background-color: rgba(0, 0, 0, .62);
                    
                    .nav {
                        margin-top: 3.5rem;
                        margin-right: 0;
                        flex-direction: column;
                        height: initial;
                        gap: 4rem;
                        li:not(:last-child) > a {
                            color: #fff;
                        }

                        li > a {
                            line-height: 3.5rem;
                        }
                    }
                    &.active {
                        //opacity: 1;
                        //visibility: visible;
                        transition: right .35s;
                        right: 0;
                    }
                }
            }
        }
        .main_inner {
            width: 100%;
            padding: 6em 3rem 28rem;
            text-align: center;
            transition: all .45s;
            &:after {
                width: 35rem;
                height: 24rem;
                left: 50%;
                transform: translate(-50%);
            }
            .btn_wrap {
                text-align: center;
            }
        }
        .section_outer {
            section {
                flex-direction: column;

                &:nth-child(2),
                &:nth-child(4) {
                    flex-flow: column-reverse;
                }
                .item_desc {
                    text-align: center;

                    &_tit {
                        padding: 0 1.5rem 3rem;
                        font-size: 3rem;
                        line-height: 1.3;
                    }
                    &_text {
                        padding: 0 1.5rem;
                        font-size: 1.5rem;
                        line-height: 1.7;
                    }
                }
                .item_img {

                    &.last {
                        width: 100%;
                        padding: 0 2rem;
                    }
                }
                .moon {
                    width: 8rem;
                    height: 8rem;
                    right: 2.2%;
                    opacity: .5;
                }
                .flex_list {
                    display: initial;
                    grid-template-columns: initial;

                    li + li {
                        margin-top: 2.5rem;
                    }
                }
            }
        }
        footer {
            .footer_innner {
                width: 100%;
                padding: 3rem 2rem;
                ul {
                    flex-wrap: wrap;
                    li {
                        padding: 0 1rem 0 0;
                    }

                    li + li:after {
                        display: none;
                    }
                }
            }
        }
    }

    .swiper-button-next {
        right: 20px;
        transform: rotate(90deg);
    }

    .swiper-button-prev {
        left: 20px;
        transform: rotate(90deg);
    }
}
@media (max-width: 600px) {

    .swiper {
        width: 90%;
    }
}