/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    background-color: #000;
}
.faq {
    color: #fff;

    h1 {
        font-size: 36px;
        text-align: center;
    }
    &-inner {
        width: 900px;
        margin: 0 auto;
    }
    &-title {
        position: relative;
        padding: 10px;
        margin-bottom: 5px;
        cursor: pointer;
        background-color: #333;
        &:before,
        &:after {
            content: '';
            position: absolute;
            background-color: #fff;
            top: 50%;
            transform: translateY(-50%);
            transition: .23s;
        }
        &:before {
            width: 20px;
            height: 2px;
            right: 20px;
        }
        &:after {
            width: 2px;
            height: 20px;
            right: 29px;
        }
        
    }
    &-title.active:after {
        opacity: 0;
    }
    &-content {
        display: none;
        padding: 10px;
    }
}