/* Font Set */
@font-face {
  font-family: "NotoSansKr";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../font/noto-sans-kr-300.woff2") format("woff2"), url("../font/noto-sans-kr-300.woff") format("woff"), url("../font/noto-sans-kr-300.ttf") format("truetype"), url("../font/noto-sans-kr-300.svg#NotoSansKR") format("svg");
}

@font-face {
  font-family: "NotoSansKr";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../font/noto-sans-kr-400.woff2") format("woff2"), url("../font/noto-sans-kr-400.woff") format("woff"), url("../font/noto-sans-kr-400.ttf") format("truetype"), url("../font/noto-sans-kr-400.svg#NotoSansKR") format("svg");
}

@font-face {
  font-family: "NotoSansKr";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../font/noto-sans-kr-700.woff2") format("woff2"), url("../font/noto-sans-kr-700.woff") format("woff"), url("../font/noto-sans-kr-700.ttf") format("truetype"), url("../font/noto-sans-kr-700.svg#NotoSansKR") format("svg");
}

/* ########################################## */
/* ########################################## */
/* ########################################## */
html, body {
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: inherit;
}

address,
caption,
cite,
code,
dfn,
em,
var,
i {
  font-style: normal;
  font-weight: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

hr {
  overflow: hidden;
  position: absolute;
  left: -9999em;
  top: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

pre {
  white-space: pre-wrap;
}

blockquote,
q {
  quotes: "" "";
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

sub {
  line-height: 0;
  position: relative;
}

sup {
  line-height: 0;
  position: relative;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

em {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
  word-break: break-all;
}

a:link, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.blind {
  overflow: hidden !important;
  position: absolute !important;
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
}

body {
  font-family: 'NotoSansKr', 'Apple SD Gothic Neo', 'sans-serif';
  font-size: 1.2rem;
  color: #000;
  margin: 0;
  padding: 0;
}

#wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: -7.3rem;
  left: 0;
  width: 100%;
  padding: 2rem;
  transition: .25s ease-out;
  background-color: rgba(0, 0, 0, 0.5);
}

header .header_inner {
  width: 100%;
  border: 1px solid #000;
}

header .header_inner > a {
  position: relative;
  padding-bottom: 4px;
  font-size: 1.8rem;
  color: #fff;
}

header .header_inner > a:after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  transition: all .25s linear;
  background-color: #fff;
}

header .header_inner > a:hover:after {
  width: 100%;
}

header .line {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 5px;
  background-color: crimson;
}

header.active {
  top: 0;
}

/* Main */
.main_top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-color: #999;
}

.main_top > span {
  display: inline-block;
  text-transform: uppercase;
  font-family: verdana;
  font-size: 15rem;
  font-weight: 700;
  color: #f5f5f5;
  transition: all .5s;
}

.main_top > span.active {
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
}

.main_cont {
  position: relative;
  width: 100%;
  height: 2000px;
  padding: 3rem 2rem;
  border: 2px solid orange;
  box-sizing: border-box;
}

.main_cont .ms_left,
.main_cont .ms_right {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: rgba(134, 97, 97, 0.5);
}

.main_cont .ms_left {
  left: 0;
}

.main_cont .ms_right {
  right: 0;
}

.main_cont .ani_text {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all .35s linear;
  opacity: 0;
}

.main_cont .ani_text.active {
  font-size: 12rem;
  opacity: 1;
}

/* Contents */
.contents {
  padding: 6.1rem 2rem 0;
  box-sizing: border-box;
}

.project_list {
  height: 100%;
  display: grid;
  justify-content: center;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.project_list li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}

.project_list li.col2 {
  grid-area: span 2 / span 2;
}

.project_list li > a {
  display: block;
  width: 100%;
  height: 100%;
}

.project_list li > a:hover {
  color: red;
  transform: translate3d(-180deg);
}

/* Fix */
/* Tablet */
@media (min-width: 768px) and (max-width: 1366px) {
  .project_list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.2rem;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .project_list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.2rem;
  }
  .project_list li.col2 {
    grid-area: span 1 / span 1;
  }
}

/* Animation */
/* @keyframes topHeader {
  form {
    top: -100px;
  }
  to {
    top: 0;
  }  
} */
